@use '../../../styles/index' as styles;

.header {
  &__inner {
    height: styles.$header-height;
    padding: 0 styles.$g-pad-x;
    @include styles.setFlex($jc: space-between);
  }

  &__logo {
    img {
      display: block;
      height: 3.5rem;
      width: auto;
    }
  }

  &__lang-and-menu {
    @include styles.setFlex($gap: 2rem);
  }

  &__lang-buttons {
    @include styles.setFlex($gap: 0.5rem);
  }

  &__lang-button {
    border: 0.2rem solid transparent;
    background: transparent;
    @include styles.setFont(
      $family: ('Syne', sans-serif),
      $size: 1em,
      $weight: 700,
      $line-height: 1
    );
    padding: 0.2rem 0.4rem;
    cursor: pointer;

    &--active {
      border-color: #00bc8f;
    }
  }

  &__burger-menu {
    border: 0;
    background: transparent;
    cursor: pointer;

    img {
      width: 3rem;
      height: 3rem;
      display: block;
    }
  }
}

.menu-overlay {
  position: fixed;
  inset: 0;
  z-index: 1;
  top: clamp(5rem, 10vw, styles.$header-height);
  @include styles.setFont($family: ('Syne', sans-serif));
  background-color: styles.$bg-color;

  &__panel {
    width: 100%;
    max-width: styles.$g-max-width;
    height: calc(100vh - styles.$header-height);
    // height: 100%;
    margin: 0 auto;
    @include styles.setFlex($d: column, $jc: flex-start, $ai: stretch);
  }

  &__nav {
    flex: 1;
    @include styles.setFlex($d: column, $gap: clamp(3rem, 5vw, 4rem));
    text-align: center;
    padding: 0 styles.$g-pad-x clamp(4rem, 8vw, 5rem);

    a {
      text-decoration: none;
      @include styles.setFont(
        $family: ('Syne', sans-serif),
        $size: styles.$menu-overlay-title-size,
        $weight: 700
      );
      display: inline-flex;
      align-items: center;
      gap: clamp(1rem, 3vw, 2.2rem);
    }
  }

  &__footer {
    position: relative;
    height: 33vh;
    background: #000;
    @include styles.setFont($family: null, $size: null, $style: null, $color: #fff);
    padding: clamp(2rem, 6vw, 5rem) styles.$g-pad-x;
    @include styles.setFlex($jc: space-between, $ai: flex-end, $gap: 3rem);
    overflow: hidden;

    clip-path: polygon(0 10%, 100% clamp(20%, 20vw, 70%), 100% 100%, 0 100%);
  }

  &__contact {
    @include styles.setFlex($d: column, $jc: flex-start, $ai: flex-start);

    h2 {
      margin: 0;
      @include styles.setFont(
        $family: ('Syne', sans-serif),
        $size: styles.$menu-overlay-title-size,
        $weight: 800,
        $line-height: 0.9,
        $color: #FFFCF3
      );

      &:hover {
        @include styles.setFont($family: null, $size: null, $style: null, $color: #00bc8f);
      }
    }

    .menu-overlay__mail {
      display: inline-block;
      margin-top: 1rem;
      text-decoration: none;
      @include styles.setFont(
        $size: clamp(1em, calc(0.9em + 0.4vw), 1.3em),
        $weight: 300,
        $color: #ffffffd6
      );

      &:hover {
        @include styles.setFont($family: null, $size: null, $style: null, $color: #fff);
      }
    }
  }

  &__contact-icons {
    @include styles.setFlex($display: inline-flex, $jc: flex-start, $gap: 1.125rem);

    a {
      text-decoration: none;
      position: relative;
      width: 3rem;
      height: 3rem;
      @include styles.setFlex($display: inline-flex);

      .menu-overlay__icon {
        display: block;
        width: 2.5rem;
        height: 2.5rem;

        &--hover {
          position: absolute;
          opacity: 0;
          transition: opacity 160ms ease;
        }
      }

      &:hover {
        .menu-overlay__icon--hover {
          opacity: 1;
        }

        .menu-overlay__icon:not(.menu-overlay__icon--hover) {
          opacity: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
}
