@use './styles/index' as styles;

*,
*::before,
*::after {
  position: relative;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  @include styles.setFont($size: 10px);

  > body {
    @include styles.setFont($size: 16px, $weight: 400);

    height: 100dvh;

    @include styles.setFlex($d: column, $jc: '', $ai: '', $wrap: '', $gap: 0);

    background-color: styles.$bg-color;
    background-image: radial-gradient(#eadbc9 1px, transparent 1px);
    background-size: 36px 36px;

    width: 100%;
    max-width: styles.$g-max-width;
    margin: 0 auto;

    &.menu-overlay-open {
      // overflow: hidden;
    }
  }
}
