<footer class="footer">
  <div class="footer__inner">
    <div class="footer__brand">
      <a class="footer__logo" routerLink="/" aria-label="Go to homepage">
        <img src="/assets/img/logo/logo1.svg" alt="logo" />
      </a>
      <span class="footer__copyright">© Babak Anvari 2026</span>
      <a class="footer__mail" href="mailto:info@babak-anvari.com">info@babak-anvari.com </a>
    </div>

    <div class="footer__right">
      <div class="footer__social-links" aria-label="Social links">
        <a href="#" aria-label="GitHub profile">
          <img class="footer__icon" src="/assets/img/icons/github.png" alt="GitHub icon" />
          <img
            class="footer__icon footer__icon--hover"
            src="/assets/img/icons/github-hover.png"
            alt="GitHub icon"
          />
        </a>
        <a href="#" aria-label="Send email">
          <img class="footer__icon" src="/assets/img/icons/mail.png" alt="Mail icon" />
          <img
            class="footer__icon footer__icon--hover"
            src="/assets/img/icons/mail-hover.png"
            alt="Mail icon"
          />
        </a>
        <a href="#" aria-label="LinkedIn profile">
          <img class="footer__icon" src="/assets/img/icons/linkedIn.png" alt="LinkedIn icon" />
          <img
            class="footer__icon footer__icon--hover"
            src="/assets/img/icons/linkedIn-hover.png"
            alt="LinkedIn icon"
          />
        </a>
      </div>
      <a class="footer__legal" href="#">Legal notice</a>
    </div>
  </div>
</footer>
