<footer class="footer">
  <div class="footer__inner">
    <div class="footer__brand">
      <a class="footer__logo" routerLink="/" aria-label="Go to homepage">
        <img src="/assets/img/logo/logo1.svg" alt="logo" />
      </a>
      <span class="footer__copyright">
        © {{ userDBS.personalInfo.name }} {{ userDBS.personalInfo.currentYear }}
      </span>
      <a class="footer__mail" [href]="'mailto:' + userDBS.personalInfo.emailAddress">
        {{ userDBS.personalInfo.emailAddress }}
      </a>
    </div>

    <div class="footer__right">
      <div class="footer__social-links" aria-label="Social links">
        <a href="#" aria-label="GitHub profile">
          <img class="footer__icon" src="/assets/img/icons/github.svg" alt="GitHub icon" />
        </a>
        <a href="#" aria-label="Send email">
          <img class="footer__icon" src="/assets/img/icons/mail.svg" alt="Mail icon" />
        </a>
        <a href="#" aria-label="LinkedIn profile">
          <img class="footer__icon" src="/assets/img/icons/linkedIn.svg" alt="LinkedIn icon" />
        </a>
      </div>
      <a class="footer__legal" routerLink="/legal-notice">Legal notice</a>
    </div>
  </div>
</footer>
