@use '../../../../styles/index' as styles;

.section-seperator {
  width: clamp(10rem, 17vw, 17rem);
  height: clamp(10rem, 17vw, 17rem);
  transform: scaleX(-1);

  &__icon {
    position: absolute;
    pointer-events: none;
  }

  #icon1 {
    display: none;
    display: block;
    width: 100%;
    top: -15%;
    left: -15%;
  }
  #icon2 {
    display: none;
    display: block;
    width: 130%;
    top: -15%;
    left: -15%;
    opacity: 0;
  }
  #icon3 {
    display: none;
    display: block;
    width: 100%;
    top: 17%;
    left: 17%;
    opacity: 0;
  }

  &:hover #icon1 {
    animation: frame1 360ms ease-in-out forwards;
  }
  &:hover #icon2 {
    animation: frame2 360ms ease-in-out forwards;
  }
  &:hover #icon3 {
    animation: frame3 360ms ease-in-out forwards;
  }
}
