@use '../../../styles/index' as styles;

.contact-me {
  background: #000000;
  width: 100%;
  margin: 0;
  padding: calc(1.5 * styles.$header-height) styles.$g-pad-x 0;
  z-index: 1;
  @include styles.setFont($color: #ffffff);
  top: calc(styles.$footer-height / 3);
  clip-path: polygon(0 0, 100% clamp(10%, 20vw, 15%), 100% 100%, 0 100%);

  &__frame {
    padding: 0 styles.$g-pad-x;
    max-width: styles.$g-max-width;
    width: 100%;
    height: 100%;
    margin: clamp(2rem, 9vmin, 7rem) auto 0;
    @include styles.setFlex($d: column, $jc: space-around, $gap: clamp(2rem, 6vw, 7rem));
  }

  &__title {
    align-self: flex-start;
    @include styles.setFont(
      $family: (
        'Syne',
        sans-serif,
      ),
      $size: clamp(3em, 9vw, 5.5em),
      $weight: 800,
      $line-height: 1,
      $color: inherit
    );

    &:hover {
      color: #00bc8f;
    }
  }

  &__content {
    @include styles.setFlex($d: column, $ai: center, $gap: clamp(1.2rem, 3vw, 2rem));
  }

  &__headline {
    @include styles.setFont($size: clamp(1em, 3vw, 1.7em), $weight: 800, $color: #00bc8f);
  }

  &__subheadline {
    @include styles.setFont($size: clamp(1em, 3vw, 1.4em), $color: inherit, $weight: 400);
  }

  &__form {
    width: 100%;
    @include styles.setFlex($d: column, $ai: stretch, $gap: clamp(1.4rem, 4vw, 2.4rem));
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 0.5rem 2.8rem 0.5rem 0.8rem;
    background: transparent;
    border: 0.2rem solid transparent;
    border-bottom: 0.2rem solid #ffffffcd;
    @include styles.setFont($size: 1em, $weight: 400, $color: inherit);

    &:hover {
      border: 0.2rem solid #ffffff;
    }
  }

  &__input.ng-touched,
  &__textarea.ng-touched {
    border: 0.2rem solid #ffffff;
  }

  &__textarea {
    min-height: 9rem;
    resize: vertical;
  }

  &__input::placeholder,
  &__textarea::placeholder {
    color: #ffffff;
  }

  &__input-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }

  &__input-box {
    position: relative;
    width: 100%;
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    background: #000000;
    @include styles.setFont($size: 1em, $weight: 100, $color: #ffffff);
    transition: top 0.2s ease, transform 360ms ease, font-size 0.2s ease;
  }

  &__status-icon-container {
    position: absolute;
    right: 0.9rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.6rem;
    height: 1.6rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }

  &__input.ng-invalid.ng-touched ~ &__status-icon-container,
  &__textarea.ng-invalid.ng-touched ~ &__status-icon-container {
    opacity: 1;
    background-image: url('/assets/img/icons/exclamation.svg');
  }

  &__input.ng-valid.ng-touched ~ &__status-icon-container,
  &__textarea.ng-valid.ng-touched ~ &__status-icon-container {
    opacity: 1;
    background-image: url('/assets/img/icons/correct.svg');
  }

  &__input:focus + &__label,
  &__input:not(:placeholder-shown) + &__label,
  &__textarea:focus + &__label,
  &__textarea:not(:placeholder-shown) + &__label {
    top: 0;
    transform: translateY(-50%);
    font-size: 1em;
    padding: 0 0.5rem;
  }

  &__input-error {
    padding: 0.5rem 0 0;
    @include styles.setFont($size: 1em, $weight: 400, $color: red);
  }

  &__checkbox {
    @include styles.setFlex($jc: flex-start, $gap: 0.7rem);
  }

  &__checkbox-input-container {
    width: 2.4rem;
    height: 2.4rem;
    @include styles.setFlex();
  }

  &__checkbox-input {
    appearance: none;
    background: transparent;
    width: 2rem;
    height: 2rem;
    border: 2px solid #ffffff;
    cursor: pointer;
  }

  &__checkbox-input-check-icon {
    position: absolute;
    margin: auto;
    padding: 0.2rem;
    width: 1.6rem;
    display: none;
    filter: invert(1);
    pointer-events: none;
  }

  &__checkbox-input:checked + &__checkbox-input-check-icon {
    display: block;
  }

  &__checkbox-text {
    @include styles.setFont($size: 1em, $weight: 400, $color: inherit, $line-height: 1.5);
    max-width: 40rem;
  }

  &__link {
    display: inline-block;
    margin: 0 0.3ch;
    text-align: center;
    color: #00bc8f;
  }

  &__checkbox:hover .contact-me__checkbox-input-container {
    background: #00bc8f;
    border-radius: 50%;
  }

  &__checkbox:hover .contact-me__link {
    font-weight: 700;
    letter-spacing: -0.0258em;
  }

  &__submit {
    margin-bottom: 3rem;
    align-self: center;
    width: 21rem;
    padding: 1rem 2rem;
    border: 0.2rem solid #4d4d4d;
    background: transparent;
    @include styles.setFont(
      $family: (
        'Syne',
        sans-serif,
      ),
      $size: clamp(1em, 9vw, 1.2em),
      $weight: 500,
      $color: #7a7a7a
    );

    transition: width 200ms ease-in;
  }

  &__submit--ready {
    border: 0.3rem solid #ffffff;
    color: inherit;

    cursor: pointer;

    &:hover {
      width: 23rem;
      font-weight: 700;
    }
  }

  &__jump-top {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 3.6rem;
    height: 5.2rem;
    z-index: 1;
    @include styles.setFlex();
    object-fit: fill;
    background-image: url('/assets/img/icons/anim-icons/anim-arrow-go-top/arrow1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &:hover {
      animation: arrow-go-top 200ms ease-in forwards;
    }
  }
}

@media (max-width: 768px) {
  .contact-me {
    padding: clamp(9rem, 16vw, 12rem) styles.$g-pad-x 0;

    &__frame {
      flex-direction: column;
    }

    &__title {
      width: 100%;
    }

    &__jump-top {
      display: none;
    }
  }
}
