<div class="section-seperator" aria-hidden="true">
  <img
    id="icon1"
    class="section-seperator__icon"
    src="/assets/img/icons/anim-icons/amin-arrow-seperator/lr/arrow1.svg"
    alt="Arrow-seperator1 icon"
  />
  <img
    id="icon2"
    class="section-seperator__icon"
    src="/assets/img/icons/anim-icons/amin-arrow-seperator/lr/arrow2.svg"
    alt="Arrow-seperator2 icon"
  />
  <img
    id="icon3"
    class="section-seperator__icon"
    src="/assets/img/icons/anim-icons/amin-arrow-seperator/lr/arrow3.svg"
    alt="Arrow-seperator3 icon"
  />
</div>
